.icon-add{
    background:#99d2a6;
    border-radius: 100%;
    color: white;
   

}
.icon-remove{

    background: #ec8e98;
    border-radius: 100%;
    color: white;
    margin-left: 10px !important;
}